.logo {
    display: block;
}

.mobile-logo {
    padding: 1.4rem 0;
}

.mobile-menu {
    position: absolute;
    top: 1.72rem;
    right: 1.85rem;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.bigger-sizes {
    margin: .7rem 0;
    padding: 0 2rem;
    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.basket {
    display: flex;
    align-items: center;
    width: 70%;
    span {
        align-self: flex-start;
    }

    &__status {
        margin-left: auto;
    }

    &__icon {
        margin-right: auto;
    }
}

.text-prime {
    font-size: 1.0625rem;
    color: #000;
    font-family: 'Open sans', sans-serif;
}